@model IEnumerable<MedbaseWeb.Models.Question>

@{
    int index = 1;
    string answerA = "";
    string answerB = "";
    string answerC = "";
    string answerD = "";
    string answerE = "";

    ViewData["Title"] = "Anatomy | Free Anatomy MCQs";
    ViewData["Description"] = "Choose the topic from the list below, hit load and get started.";
    ViewData["Keywords"] = "Anatomy, Questions, MCQs, Upper Limb, Lower Limb, Abdomen, Thorax, Neuroanatomy";
    ViewData["Thumbnail"] = "http://medbase.co.zw/img/anatomy_thumbnail.jpeg";
}

<partial name="PagesAnatomy" model="Model"/>

@{
    if (ViewBag.Visibility == 1)
    {
        <partial name="AnswerDisclaimer" />
    }
}

@foreach (var question in Model)
{
    <div class="container-fluid mb-5" style="max-width:500px">
        <!--Question-->
        <div class="row">
            <div class="col">
                <h5 class="h5">
                    @question.Id - @question.QuestionMain
                </h5>
            </div>
            <div class="col col-2">
                <a class="btn"
                    href="https://wa.me/263785468923?text=Questions%20ID:%20@(question.Id)%20has%20an%20error.%20(Please%20write%20your%20suggested%20answers%20here.)">
                    <i class="bi bi-flag text-dark"
                   style="font-size:small"></i>
                </a>
            </div>
        </div>
        <input hidden asp-for="@question.Id" />
        <div class="text-start">
            <!--Child1-->
            <div class="row">
                <div class="col">
                <p class="card-text">a) @question.ChildA</p> 
                </div>
                <div class="col col-2">
                <p class="card-text">
                        @{
                            if (ViewBag.Visibility == 1)
                            {
                                if (@question.AnswerA == true)
                                {
                                    answerA = "True";
                                }
                                else if (@question.AnswerA == false)
                                {

                                    answerA = "False";
                                }
                                else if (@question.AnswerA == null)
                                {
                                    answerA = "-";
                                }
                            }
                            else
                            {
                                
                            }
                        }
                        @(answerA)
                </p> 
                </div>
            </div>
            <!--Child2-->
            <div class="row">
                <div class="col">
                <p class="card-text">b) @question.ChildB</p> 
                </div>
                <div class="col col-2">
                <p class="card-text">
                        @{
                            if (ViewBag.Visibility == 1)
                            {
                                if (@question.AnswerB == true)
                                {
                                    answerB = "True";
                                }
                                else if (@question.AnswerB == false)
                                {

                                    answerB = "False";
                                }
                                else if (@question.AnswerB == null)
                                {
                                    answerB = "-";
                                }
                            }
                            else
                            {
                                
                            }
                        }
                        @(answerB)
                </p> 
                </div>
            </div>
            <!--Child3-->
            <div class="row">
                <div class="col">
                <p class="card-text">c) @question.ChildC</p> 
                </div>
                <div class="col col-2">
                <p class="card-text">
                        
                        @{
                            if (ViewBag.Visibility == 1)
                            {
                                if (@question.AnswerC == true)
                                {
                                    answerC = "True";
                                }
                                else if (@question.AnswerC == false)
                                {

                                    answerC = "False";
                                }
                                else if (@question.AnswerC == null)
                                {
                                    answerC = "-";
                                }
                            }
                            else
                            {
                                
                            }
                        }
                        @(answerC)
                </p> 
                </div>
            </div>
            <!--Child4-->
            <div class="row">
                <div class="col">
                <p class="card-text">d) @question.ChildD</p> 
                </div>
                <div class="col col-2">
                <p class="card-text">
                       
                        @{
                            if (ViewBag.Visibility == 1)
                            {
                                if (@question.AnswerD == true)
                                {
                                    answerD = "True";
                                }
                                else if (@question.AnswerD == false)
                                {

                                    answerD = "False";
                                }
                                else if (@question.AnswerD == null)
                                {
                                    answerD = "-";
                                }
                            }
                            else
                            {
                                
                            }
                        }
                        @(answerD)
                </p> 
                </div>
            </div>
            <!--Child5-->
            <div class="row">
                <div class="col">
                <p class="card-text">e) @question.ChildE</p> 
                </div>
                <div class="col col-2">
                <p class="card-text">
                        @{
                            if (ViewBag.Visibility == 1)
                            {
                                if (@question.AnswerE == true)
                                {
                                    answerE = "True";
                                }
                                else if (@question.AnswerE == false)
                                {

                                    answerE = "False";
                                }
                                else if (@question.AnswerE == null)
                                {
                                    answerE = "-";
                                }
                            }
                            else
                            {
                                
                            }
                        }
                        @(answerE)
                </p> 
                </div>
            </div>
        </div>
    </div>
}
