@model IEnumerable<MedbaseWeb.Models.Article>
@{
    ViewData["Title"] = "Articles | Free Anatomy and Physiology MCQs";
    ViewData["Description"] = "We share the best studying techniques, review medical material, discuss mental health and other bits to make your medical journey a resounding success.";
    ViewData["Thumbnail"] = "https://i.postimg.cc/R0PNwHcB/articles-thumbnail.png";
    ViewData["Keywords"] = "Medical Blog, Articles, Study, Anatomy, Physiology, School, College, University";
}

<!-- Header-->
<header class="bg-white py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-4 col-xxl-4">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2"
                        style="font-size:4.75rem">
                        Articles
                    </h1>
                    <p class="lead fw-normal text-black-50 mb-4">
                        Here we share study tips, links, guides to learn 
                        <em>faster</em> 
                        and 
                        <em>effectively</em>!
                    </p>
                </div>
            </div>
            <div class="col-xl-8 col-xxl-8 text-center">
                <img class="img-fluid rounded-3 my-5"
                     src="~/img/article.svg" alt="..." />
            </div>
        </div>
    </div>
</header>


@foreach(var item in Model)
{    
            <!-- Page Content-->
                <div class="container px-2 mb-3">
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">By @Html.DisplayFor(modelItem => item.Writer) on @Html.DisplayFor(modelItem => item.DatePosted)</div>
                                        <div class="h2 fw-bolder">@Html.DisplayFor(modelItem => item.Title)</div>
                                        <p>@Html.DisplayFor(modelItem => item.Summary)</p>
                                        <a class="stretched-link text-decoration-none" asp-action="ArticleView" asp-route-id="@item.Id">
                                            Read more
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('@Html.DisplayFor(modelItem => item.ImageURL)')"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
}
