@model Article

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Title);

    ViewData["Description"] = Html.DisplayFor(model => model.Summary);
    ViewData["Thumbnail"] = Html.DisplayFor(model => model.ImageURL);
}

<div class="container">   
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">@Html.DisplayFor(model => model.Title)
      <small>by
        <a href="#">@Html.DisplayFor(model => model.Writer)</a>
      </small>
    </h1>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.ImageURL)" alt="">

        <hr>

        <!-- Date/Time -->
        <p>@Html.Raw(Model.DatePosted.ToString("dddd, dd MMMM yyyy"))</p>

        <hr>

        <!-- Post Content -->
            <p class="font-italic">@Html.DisplayFor(model => model.Summary)</p>

            <p>@Html.Raw(Model.Body)</p>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">More to read?</h5>
          <div class="card-body">
            Go back to <a class="ml-5" asp-action="Articles">Articles</a>.
          </div>
        </div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7010150994074481"
             crossorigin="anonymous"></script>
        <!-- Vertical Ad Unit -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7010150994074481"
             data-ad-slot="6500703860"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
