@model Article

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Title);

    ViewData["Description"] = Html.DisplayFor(model => model.Summary);
    ViewData["Thumbnail"] = Html.DisplayFor(model => model.ImageURL);
}

<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        @Html.DisplayFor(model => model.Title)
        <small>
            by
            <a href="#">@Html.DisplayFor(model => model.Writer)</a>
        </small>
    </h1>

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.ImageURL)" alt="">

            <hr>

            <!-- Date/Time -->
            <p>@Html.DisplayFor(model => model.DatePosted)</p>

            <hr>
            <!--Body-->
            <p>@Html.Raw(Model.Body)</p>
            

        </div>

        <div>
            <a class="ml-5" asp-action="Articles">⬅Back to List</a>
        </div>
    </div>
</div>
